@model IEnumerable<Hotel_reservas.Models.salida_reservas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reservas.id_reservas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reservas.id_reservas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_salida_reservas }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_salida_reservas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_salida_reservas })
        </td>
    </tr>
}

</table>
